.search-box {
  margin-bottom: 1.6rem;
  padding: 0.8rem 1.6rem;
}
::ng-deep .mat-datepicker-content {
  .mat-calendar {
    float: left;
  }
  .container {
    float: right;
    .filter-by-example {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}

.table-summary ::ng-deep {
  .table-data {
    width: 50%;
    margin-left: 1.6rem;
  }
  .mat-paginator-container {
    width: 50%;
  }
  mat-table {
    td.mat-cell {
      text-align: center;
    }
    th.mat-header-cell:last-child {
      text-align: center;
    }
  }
}
